body {
    background-color: rgb(207, 178, 244);
    color: rgb(128, 0, 0);
    font-family: Arial;
    margin: 0px;
}

main {
    background-color: whitesmoke;
    color: black;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

header {
    background-color: black;
    color: hotpink;
    text-align: center;
    padding: 15px;
}

footer {
    background-color: black;
    color: hotpink;
    text-align: right;
    padding: 15px;
}

.one {
    background-color: beige;
    color: black;
    font-size: 15pt;
    margin: 5px 5px 5px 5px;
    line-height: 1.25;
    text-align: justify;
    text-indent: 1cm;
    text-shadow: 4px 3px 3px rgb(239, 232, 8);
}

.two {
    background-color: rgb(242, 205, 102);
    color: rgb(46, 4, 98);
    font-size: 16pt;
    margin: 6px 6px 6px 6px;
    line-height: 1.3;
    text-align: end;
    text-indent: 0cm;
}

.three {
    background-color: rgb(192, 237, 114);
    color: rgb(104, 6, 6);
    font-size: 17pt;
    margin: 8px 8px 8px 8px;
    line-height: 1.35;
    text-align: left;
    text-indent: 1cm;
}

.four {
    background-color: rgb(85, 188, 33);
    color: rgb(109, 17, 7);
    font-size: 14pt;
    margin: 3px 3px 3px 3px;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1cm;
}

.five {
    background-color: rgb(120, 234, 196);
    color: rgb(6, 9, 77);
    font-size: 16pt;
    margin: 4px 4px 4px 4px;
    line-height: 1.8;
    text-align: center;
    text-indent: 0.8cm;
}

.six {
    background-color: rgb(6, 46, 72);
    color: rgb(230, 204, 204);
    font-size: 12pt;
    margin: 1px 1px 1px 1px;
    line-height:1.6;
    text-align: left;
    text-indent: 2cm;
}

.seven {
    background-color: rgb(143, 114, 218);
    color: rgb(152, 14, 55);
    font-size: 13pt;
    margin: 6px 6px 6px 6px;
    line-height: 1.5;
    text-align: right;
    text-indent: 1cm;
}

.eight {
    background-color: rgb(209, 31, 228);
    color: rgb(15, 6, 73);
    font-size: 16pt;
    margin: 0px 0px 0px 0px;
    line-height: 1;
    text-align: justify;
    text-indent: 0.5cm;
}

.nine {
    background-color: rgb(244, 242, 94);
    color: rgb(177, 11, 11);
    font-size: 17pt;
    margin: 2px 2px 2px 2px;
    line-height:0.6;
    text-align: center;
    text-indent: 3;
    text-shadow: 4px 3px 3px blueviolet;
}

.ten {
    background-color: rgb(58, 169, 86);
    color: rgb(76, 31, 190);
    font-size: 13pt;
    margin: 4px 4px 4px 4px;
    line-height:1;
    text-align: left;
    text-indent: 1cm;
}

.eleven {
    background-color: rgb(237, 50, 162);
    color: rgb(251, 247, 247);
    font-size: 15pt;
    margin: 7px 7px 7px 7px;
    line-height:1.5;
    text-align: justify;
    text-indent: 1cm;
    text-shadow: 4px 3px 3px black;
}