<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа 8</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="shortcut icon" href="C:\Users\User\web-front-labs\lab3\apple-touch-icon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        button {
            margin: 2px;
            background-color: #FF69B4;
        }

    </style>
</head>
<body>
    <header>
        НГТУ, ФБ, Лабораторная работа 8
    </header>

    <main>
        <div id="app">
            <h1 :title="messageRus">{{ message }}</h1>
            <p>Счётчик: {{ counter }}</p>
            <button @click="incCounter" v-if="counter < 12">++</button>
            <button @click="decCounter" v-if="counter > 0">--</button>
            <hr>

            <h2>Пользователь:</h2>
            <div>Имя: {{ user.name }}</div>
            <div>Возраст {{ user.age }}</div>
            <div>телефон: {{ user.tel }}</div>
            <hr>

            <h2>Цветы</h2>
            <ul>
                <li v-for="flower in flowers">
                    {{ flower }}
                </li>
            </ul>
            <hr>
        </div>
    </main>

    <footer>
        &copy; Дарья Пятина, ФБИ-31, 2 курс, 2023
    </footer>

    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello!',
                    messageRus: 'Привет!',
                    counter: 1,
                    user: {
                        name: 'Дарья',
                        age: '19',
                        tel: '255-35-65'
                    },
                    flowers: ['пион', 'роза', 'одуванчик', 'гипсофилы', 'гортензии'],
                }
            },
            
            methods: {
                incCounter() {
                    this.counter++;
                },
                decCounter() {
                    this.counter--;
                }
            }
        }).mount('#app');
    </script>
</body>
</html>